@import "./variables/var.scss";

* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
}
h1{
    font-size: 50px;
}
h2{
    font-size:40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6, a{
    color: $primary-heading-color;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 600;
}
a{
    margin-bottom: auto;
}
button.btn.btn-primary{
    background: $primary-heading-color;
}
p{
    font-size: 18px;
    line-height: 1.5;
}
.mainSpacing{
    padding-top: 80px;
    padding-bottom: 80px;
}
section{
    &:nth-child(even){
        background: $odd-color;
    }
}
.logo{
    max-width: 150px;
    display: inline-block;
}
.threesection{
    figure{
        width: 100px;
        height: 100px;
        margin:0 auto 25px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}
.footer {
    padding: 50px 0;
    border-top: 1px solid rgba($color: #000000, $alpha: 0.1);
    background: #fbfbfb I !important;
    .logo{
        max-width: 200px;
    }
    ul {
        display: flex;
        justify-content: space-between;
        padding:0;
        margin:0;
        li {
            float: none; display: block;
            a{
                text-transform: none; font-weight: 600; padding: 0;margin: 0; display: inline-block; padding-bottom: 15px; color: #000; font-size: 18px; text-decoration: none;
            }
            ul{
                padding-left: 15px;
                display: block;
                li{
                    margin-bottom: 5px;
                    position: relative;
                    a{
                        padding-bottom: 0; font-size: 16px; font-weight: 400;
                    }
                    &:after{
                        content: '\2022';
                        position: absolute;
                        left: -15px;
                        top: 0;
                    }
                }
            }
        }
    }
}


.footer .downarrow{display: none;}
.email-outr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 50px;
}
.email-outr img{width: 30px; margin-bottom: 0;}
.email-outr a{color: #000; font-size: 16px; text-decoration: none; display: inline-block; padding-left: 15px;}
.card{
    a{
        text-decoration: none;
        .screen-reader-text{
            font-weight: 400;
            font-size: 16px;
        }
    }
}
.features-outr {
    figure {
        min-height: 160px;
        img {
            max-height: 150px;
            max-width: 150px;
        }
    }
}
.navbar-nav{
    li{
        position: relative;
        ul{
            .dropdown-item{
                background: transparent;
            }
        }

        &:last-child{
            ul{
                left: auto;
                right: 0;
            }
        }
        
    }
}
.navbar-light .navbar-nav .nav-link.nav-active{
    color: $primary-heading-color;
}
.banner-main{
    width: 100%;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.logoArea{
    .react-multi-carousel-list{
        .react-multi-carousel-track{
            align-items: center;
            figure{
                margin-bottom: 0;
            }
        }
        .react-multiple-carousel__arrow--right {
            right: 0;
        }
        .react-multiple-carousel__arrow--left {
            left: 0;
        }
    }
}
.table {
    thead{
        background: $primary-heading-color;
        color: $white;
        text-transform: uppercase;
    }
}
.innerpages{
    h4{
        min-height: 60px;
        font-size: 22px;
    }
}
.blogOutr{
    .card{
        .card-body{
            h4{
                font-size: 16px;
                font-weight: 500;
                margin-bottom: 0;
            }
        }
    }
}
.dropdown-item{
    padding: 0;
}
.navbar-nav{
    align-items: center;
}
.list-group-flash{
    .list-group-item{
        a{
            text-decoration: none;
            color: $primary-text-color;
            &:hover{
                color: $primary-heading-color;
            }
        }
    }
}
.page-link {
    height: 100%;
    color: $primary-text-color;
}
.blogOutr .gatsby-image-wrapper-constrained {
    display: inline-block;
    vertical-align: top;
    height: 200px;
}
.word-wrap{
    .card-text{
        word-wrap: break-word;
    }
}
.navbar-nav{
    .dropdown-menu{
        padding: 0;
    }
}
@import "./variables/responsive.scss";