@import "./variables/var.scss";

* {
    margin: 0;
    padding: 0;
}
body {
    font-size: 16px;
}
h1{
    font-size: 50px;
}
h2{
    font-size:40px;
}
h3{
    font-size: 30px;
}
h4{
    font-size: 25px;
}
h5{
    font-size: 20px;
}
img{
    max-width: 100%;
}
h1,h2,h3,h4,h5,h6, a{
    color: $primary-heading-color;
    line-height: 1.2;
    margin-bottom: 15px;
    font-weight: 600;
}
p{
    font-size: 18px;
    line-height: 1.2;
}
.mainSpacing{
    padding-top: 80px;
    padding-bottom: 80px;
}
section{
    &:nth-child(even){
        background: $odd-color;
    }
}
.logo{
    max-width: 150px;
    display: inline-block;
}
.threesection{
    figure{
        width: 150px;
        height: 150px;
        margin:0 auto 25px;
        img{
            width: 100%;
            height: 100%;
            object-fit: contain;
        }
    }
}

.footer ul {
    display: flex;
    justify-content: space-between;
    padding:0;
    margin:0;
}
.footer ul li {float: none; display: block;}
.footer ul li a{text-transform: none; font-weight: 600; padding: 0;margin: 0; display: inline-block; padding-bottom: 15px; color: #000; font-size: 18px; text-decoration: none;}
.footer ul li ul{
    padding-left: 15px;
    display: block;
}
.footer ul li ul li{
    margin-bottom: 5px;
    position: relative;
}
.footer ul li ul li a{
    padding-bottom: 0; font-size: 16px; font-weight: 400;
}
.footer ul li ul li:after{
    content: '\2022';
    position: absolute;
    left: -15px;
    top: 0;
}
.footer {
    padding: 50px 0;
}
.footer .downarrow{display: none;}
.email-outr{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 50px;
}
.email-outr img{width: 30px; margin-bottom: 0;}
.email-outr a{color: #000; font-size: 16px; text-decoration: none; display: inline-block; padding-left: 15px;}
.card{
    height: 100%;
    a{
        text-decoration: none;
        .screen-reader-text{
            font-weight: 400;
            font-size: 16px;
        }
    }

}