@media only screen and (max-width: 1024px) {}
@media only screen and (max-width: 991px) {
    h1{
        font-size: 40px;
    }
    h2{
        font-size:30px;
    }
    h3{
        font-size: 25px;
    }
    h4{
        font-size: 22px;
    }
    h5{
        font-size: 18px;
    }
    .navbar-nav{
         li{
             width: 100%;
             border-bottom: 1px solid #f5f5f5;
             .dropdown-menu.show {
                padding: 0 15px;
                margin-top: 20px !important;
            }
            .nav-link{
                padding: 15px 1rem;
            }
         }
    }
    .navbar-collapse {
        border: 1px solid $primary-heading-color;
        position: absolute;
        width: 100%;
        left: 0;
        top: 100%;
        background: $primary-heading-color;
        z-index: 999;
    }
    a.dropdown-toggle{
        &:after{
            right:15px;
            top: 8px;
            position: absolute;
        }
        &.nav-link {
            padding: 0;
        }
    }
    

}
@media only screen and (max-width: 767px) {
    h1{
        font-size: 30px;
    }
    h2{
        font-size:25px;
    }
    h3{
        font-size: 20px;
    }
    h4{
        font-size: 18px;
    }
    h5{
        font-size: 16px;
    }
    p{
        font-size: 16px;
    }
    .mainSpacing {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .footer {
        ul {
            flex-wrap: wrap;
            flex-basis: 100%;
            li{
                margin-bottom: 15px;
            }
        }
    }
    .card-title {
        padding: 15px;
    }
    .footer .logo {
        max-width: 120px;
        margin-bottom: 15px;
    }
    span.navbar-brand .logo {
        max-width: 100px;
    }
}
@media only screen and (max-width: 567px) {
    .btn {
        font-size: 14px;
    }
}